@import '@utility/vars.sass'

.appBar
    width: 100%
    // position: fixed
    // bottom: 0
    // left: 0
    background: $bg-solid
    border-top: $border-width-s solid $bg-main-small
    @media (max-height: 10rem)
        display: none

.nav
    display: flex
    flex-direction: row
    width: 100%
    justify-content: center
    align-items: stretch
    &>a
        width: auto