// colors & backgrounds
$bg-main: rgba(#000, .045)
$bg-solid: mix(#000, #fff, 4.5)
$bg-main-small: rgba(#000, .05) //optical adjustment, you know
$bg-accent: linear-gradient(-30deg, #396afc, #2948ff)
$bg-accent-fallback: #396afc

// sizes
$space-xxs : .5rem
$space-xs  : 1rem
$space-s   : 1.5rem
$space-m   : 2.5rem
$space-l   : 3.5rem
$space-xl  : 5.0rem

// fonts
$font-size-s:  1.5rem
$font-size-m:  2.0rem
$font-size-m-plus: $space-m
$font-size-l:  3.0rem
$font-size-xl: 4.5rem

$font-main: "Roboto", "Noto Sans", "Droid Sans", "Arial", sans-serif

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-bold: 500

$font-color-main: #11204c
$font-color-grey: #7d8499
$font-color-grey-light: #BEC2CE
$font-color-white: #fff

//borders
$border-width-s: .1rem
$border-width-m: .2rem
$border-color-main: rgba(#000, .15)
$border-color-light: rgba(#000, .10)


//transition
$transition-timing-function: ease-in-out

$transition-s: .15s $transition-timing-function
$transition-m: .3s $transition-timing-function
$transition-l: .5s $transition-timing-function
