@import '@utility/vars.sass'

$checkbox-size: $space-m + $space-xxs - $border-width-m

.host
    display: flex


.checkbox
    position: absolute
    opacity: 0


.label
    display: flex
    flex-direction: row
    align-items: center

.label:before
    display: block
    content: ''
    height: $checkbox-size
    width: $checkbox-size
    
    margin-right: $space-xxs

    background: $bg-main-small
    
    border: $border-width-m solid transparent

    .checkbox:checked + &
        background: $bg-accent-fallback

.label:hover, .checkbox:focus + .label
    &:before
        border-color: $border-color-main

.checkbox:checked:focus + .label:before
    border-color: transparent
    box-shadow: inset 0 0 0 $border-width-m $bg-solid, inset 0 0 0 $border-width-m*2 $bg-accent-fallback